/* Add this CSS for the compiler page */
.main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
}
.compiler_container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.editor{
    flex: 1;
    
    width: auto;
    resize: none;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
}
.line-numbers {
    display: inline-block;
    text-align: right;
    padding-right: 10px;
    border-right: 1px solid #d0ff00;
    font-size: 14px;
    color: #cffd00;
}
#codeTextarea, #inputTextarea, #outputTextArea{
    background-color: #1c2130;;
    color: yellow;
    resize: none;
    width: auto;
    padding: 5px;
}





#compileButton {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease transform 0.2s ease;
}

#compileButton:hover {
    background-color: #06b32b;
    transform: scale(1.05);
}

