.main_heading{
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2rem;
    color: #25265e;

}
.main{
    background-color: rgb(255, 255, 255);
    margin-top:  3rem;
    font-size: large;
    font-family: cursive;
    line-height: 2.5rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    border: #333;
    border-style: solid;
    margin-bottom: 2rem;
   
}

.Start_button {
    display: block;
    margin: 0 auto;
    padding: 12px 30px;
    font-size: 18px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.Start_button:hover {
    background-color: #06b32b;
    color: #fff;
    transform: scale(1.05);
}



footer {
    background-color: #d4d4d4;
    padding: 10px;
    text-align: center;
    position:fixed;
    bottom: 0;
    width: 100%;
}